<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="w-full bg-sky-100 h-6 border-0" th:fragment="header">
        <div class="py-0.5 w-fit mx-auto">
            <h1 class="text-sm font-semibold my-auto mx-auto text-zinc-500">OFFER!!! OFFER!!! OFFER!!!</h1>
        </div>

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="button" onclick="login()">Login</button>
        </div>
    </header>



    <script>
        function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            axios.post('/login', {
                username: username,
                password: password
            })
            .then(function (response) {
                document.getElementById('message').textContent = response.data.message;
                
                if (response.data.success) {
                    window.location.href = '/dashboard';
                }
            })
            .catch(function (error) {
                document.getElementById('message').textContent = 'Invalid username or password.';
            });
        }
    </script>
</body>
</html>

