@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.signup-content {
    height: auto;
}

.signup-form {
    background-color: rgb(232, 232, 232);
    margin: 50px 0;
}

.box {
    height: 200px;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
}

.home-content {
    height: 80vh;
    padding-top: 3% 10%;
}

.mail-icon {
    font-size: 25px;
}

.userProfileSection {
    background-color: rgb(115, 190, 234);
}

#content-section {
    background-color: rgb(244, 185, 185);
}

#user-pets {
    background-color: rgb(190, 244, 185);
}

#petCardsContainer {
    background-color: rgb(190, 244, 185);
}
