<div th:fragment="main" class="lg:w-4/5 sm:w-11/12 mx-auto pt-7 pb-10">

    <h1 class="text-4xl font-bold mb-10">Frequently Asked Questions</h1>

    <!-- Filter by category -->
    <div class="flex flex-wrap space-x-4 space-y-2 sm:space-y-0">
        <a href="/faq/general"
           th:class="'rounded-lg py-2 px-4 ' + ${category == 'general' ? 'bg-indigo-600 text-white cursor-default' : 'bg-gray-200 text-gray-800 hover:bg-gray-300'}">
            General
        </a>
        <a href="/faq/medical-records"
           th:class="'rounded-lg py-2 px-4 ' + ${category == 'medical-records' ? 'bg-indigo-600 text-white cursor-default' : 'bg-gray-200 text-gray-800 hover:bg-gray-300'}">
            Medical Records
        </a>
        <a href="/faq/prescriptions"
           th:class="'rounded-lg py-2 px-4 ' + ${category == 'prescriptions' ? 'bg-indigo-600 text-white cursor-default' : 'bg-gray-200 text-gray-800 hover:bg-gray-300'}">
            Prescriptions
        </a>
        <a href="/faq/appointments"
           th:class="'rounded-lg py-2 px-4 ' + ${category == 'appointments' ? 'bg-indigo-600 text-white cursor-default' : 'bg-gray-200 text-gray-800 hover:bg-gray-300'}">
            Appointments
        </a>
        <a href="/faq/billing"
           th:class="'rounded-lg py-2 px-4 ' + ${category == 'billing' ? 'bg-indigo-600 text-white cursor-default' : 'bg-gray-200 text-gray-800 hover:bg-gray-300'}">
            Billing & Payments
        </a>
    </div>

    <!-- Show error message -->
    <div th:if="${error}" class="my-8 text-2xl font-semibold text-red-800">
        <p th:text="${error}"></p>
    </div>

    <!-- Show message if faq is empty -->
    <div th:if="${isEmpty}" class="my-8 text-2xl font-semibold">
        <p>No FAQs is available for this category</p>
    </div>

    <div th:if="${!isEmpty}" class="my-8">

        <div th:each="faq : ${faqs}" class="w-3/5 pb-3 mb-3 border-b border-gray-400 border-opacity-50 ">

            <div class="flex items-center justify-between cursor-pointer" onclick="toggleAnswer(this)">
                <h3 th:text="${faq.question}" class="text-2xl font-semibold mr-6"></h3>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>
            </div>

            <p th:text="${faq.answer}" class="mt-4 hidden transition-all duration-300"></p>

        </div>
    </div>

    <div>
        <p>Unable to find answer to your question?
            <a href="#" class="text-blue-500 hover:text-blue-700 hover:underline">Contact us</a>
        </p>
    </div>
    <script>
        function toggleAnswer(element) {
            const answer = element.nextElementSibling;
            const icon = element.querySelector(".icon");

            if (answer.classList.contains("hidden")) {
                answer.classList.remove("hidden");
                answer.classList.add("block");

                icon.style.transform = "rotate(180deg)";
            } else {
                answer.classList.add("hidden");
                answer.classList.remove("block");

                icon.style.transform = "rotate(0deg)";
            }
        }
    </script>
</div>