<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--        xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <div th:fragment="main" class="grid grid-cols-1 md:grid-cols-3 gap-4 home-content">
        <script th:src="@{/js/userGuide.js}"></script>
        <div class="box rounded-lg bg-red-500 text-white p-6 text-center shadow-lg cursor-pointer">
            <h2>Medical Records</h2>
        </div>
        <div class="box rounded-lg bg-orange-400 text-white p-6 text-center shadow-lg cursor-pointer">
            <h2>Prescriptions</h2>
        </div>
        <div class="box rounded-lg bg-yellow-400 text-white p-6 text-center shadow-lg cursor-pointer">
            <h2>Track Your Orders</h2>
        </div>
        <div class="box rounded-lg bg-green-500 text-white p-6 text-center shadow-lg cursor-pointer">
            <h2>Book an appointment</h2>
        </div>
        <div class="box rounded-lg bg-blue-500 text-white p-6 text-center shadow-lg cursor-pointer">
            <h2>Manage appointments</h2>
        </div>
    </div>
<!--</body>-->
<!--</html>-->