<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>My Page Title</title>
        <meta name="description" content="My Page Description">

        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/js/alpine.js}"></script>
        <script type="text/javascript" th:src="@{/js/flowbite.js}"></script>
        <div th:replace="~{${content} :: scripts}"></div>
    </head>
    <body class="min-w-full min-h-full">
        <div th:insert="~{fragments/header :: header}"></div>

        <div th:insert="~{fragments/navigation :: navigation}"></div>

        <div id="main">
            <div th:insert="~{${content} :: main}"></div>
        </div>

        <div th:insert="~{fragments/footer :: footer}"></div>

        <section class="w-screen h-screen absolute top-0 left-0 z-50 bg-zinc-300 bg-opacity-20 hidden">
            <div class="absolute top-1/2 left-1/2 -translate-y-2/3 -translate-x-1/2 scale-50">
                <img class="animate-spin-slow" th:src="@{/assets/loader_3.png}" alt="loader">
            </div>
        </section>
    </body>
</html>
