<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet - Upload Medical Records</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/axios.js}"></script>
    <script defer type="text/javascript" th:src="@{/js/alpine.js}"></script>
    <script th:src="@{/js/veterinarian-appointments.js}"></script>
</head>
<body class="min-h-screen flex flex-col bg-gray-100">

    <!-- Veterinarian Navigation Fragment -->
    <div th:replace="~{fragments/_veterinarianNavigation :: veterinarian-navigation}"></div>

    <div x-data="veterinarianAppointments" x-init="[fetchData()]" class="container mx-auto py-8 flex-grow">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Appointments:</h1>

        <!-- List of appointments for the veterinarian -->
        <!-- Table of appointments for the veterinarian -->
        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">Appointment ID</th>
                    <th scope="col" class="py-3 px-6">Date</th>
                    <th scope="col" class="py-3 px-6">Timing</th>
                    <th scope="col" class="py-3 px-6">Start Appointment</th>
                </tr>
                </thead>
                <tbody>
                    <template x-for="appointment in veterinarian_appointments" :key="appointment.id">
                        <tr class="bg-white">
                            <td x-text="appointment.id" class="py-4 px-6"></td>
                            <td x-text="new Date(appointment.appointmentDate).toLocaleDateString()" class="py-4 px-6"></td>
                            <!-- Corrected time display format -->
                            <td x-text="`From: ${appointment.startTime} - To: ${appointment.endTime}`" class="py-4 px-6"></td>
                            <td class="py-4 px-6">
                                <!-- Added visible text to the button -->
                                <button @click="uploadRecords(appointment.id)" class="bg-sky-800 text-white font-semibold px-2 py-1.5">Upload Records</button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}" class="mt-auto"></div>

</body>
</html>
